{% if goods_list %}
<table border="1">
    <thead>
    <tr>
        <th>Название</th>
        <th>Дата поступления</th>
        <th>Цена</th>
        <th>Еденица измерения</th>
        <th>Имя поставщика</th>
    </tr>
    </thead>
    {% for a in goods_list %}
    <tr>
        <td>{{ a.good_name }}</td>
        <td>{{ a.date_receipt }}</td>
        <td>{{ a.price }}</td>
        <td>{{ a.unit }}</td>
        <td>{{ a.supplier }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
Список товаров пуст.
{% endif %}